.App {
    text-align: center;
    background: linear-gradient(45deg, #484d6d, #D6AD60, #868B8E, #484d6d);
    width: 100%;
    height: 100vh;
    position: relative;
}

#main-container {
    width: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#user-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#user-panel button, #user-panel button div {
    background-color: #ffffff80 !important;
    color: #484d6d !important;
}

.row {
    width: 100%;
    margin-top: 20px;
    display: inline-flex;
}

.progress {
    padding: 0;
}

.form-control-file {
    width: 80%;
    padding: 0;
}

#execute-btn {
    width: 20%;
}

#message {
    width: 100%;
    resize: vertical;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}

#subject, #headline {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    width: 100%;
}

.btn-outline-primary {
    color: #484d6d;
    border-color: #484d6d;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}

.btn-outline-primary:disabled {
    color: #484d6d;
}

.btn-outline-primary:hover {
    color: #fffcf9;
    border-color: #484d6d;
    background-color: #484d6d;
}

#spinner-modal > div {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#spinner {
    width: 100px;
    height: 100px;
}