body {
    background: url("/images/background.jpg") no-repeat;
    background-size: cover;
}

.App {
    text-align: center;
    align-items: stretch;
    width: 100%;
    height: 100vh;
    position: center;
}

#user-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

#user-panel button {
    border-radius: 10px !important;
}

#user-panel button {
    background: #26323840 !important;
    color: #fff9c4 !important;
    backdrop-filter: blur(10px);
    border-radius: 10px !important;
}

#user-panel button div {
    background: none !important;
}

#user-panel > button:hover {
    border: #fff9c4 1px solid !important;
}

#user-panel button span {
    font-size: 14px !important;
}

#email-form-wrapper {
    width: 100%;
    height: 100%;
    padding: 10%;
}

#email-form {
    width: 100%;
}

label {
    color: #fff9c4;
    text-align: left;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 12px;
    width: 100%;
}

#subject, #headline, #message, #file {
    background: #26323840;
    backdrop-filter: blur(10px);
    width: 100%;
    border-radius: 10px;
    border: #263238 1px solid;
    color: #fff9c4;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
}

#file {
    cursor: pointer;
}

#subject::placeholder, #headline::placeholder, #message::placeholder, #file::placeholder {
    color: #fff9c480;
}

#subject:focus, #headline:focus, #message:focus, #file:focus {
    border: #fff9c4 1px solid;
    box-shadow: none;
    outline: none;
}

#file::file-selector-button {
    background: none;
    box-shadow: none;
    border: none;
    color: #fff9c480;
    cursor: pointer;
    padding: 0 10px 0 0;
}

#btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#execute-btn, #reset-btn {
    width: 20%;
    box-shadow: none !important;
    border: #263238 1px solid;
    color: #fff9c4;
    background: #26323840;
    backdrop-filter: blur(10px);
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
}

#execute-btn:disabled {
    color: #fff9c450;
    background-color: #26323840;
    pointer-events: none;
    cursor: not-allowed;
}

#execute-btn:hover, #reset-btn:hover {
    color: #fff9c4;
    border: #fff9c4 1px solid;
}

#spinner-modal > div {
    background-color: #00000000;
    border: none;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#spinner {
    width: 100px;
    height: 100px;
}